/*
 * shalmi custom template CSS
 *
 * This stylesheet is Bootstrap 4 adapted
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 * @copyright charmeem soft 2018
 */

/* aimeos.css customization */
body {
    /*background-color: #f0e7d8;*/
    background-color: #f1f1f1;
    /*fixing fixed top overlapping the page content*/
    padding-top:30px;
    line-height:1.2;

}


/** avoid carousel cutting off for smaller screens **/
/*@media (max-width: 531px)and (min-width:369px){*/
    /*body {*/
        /*!*padding-top: 5.36em;*!*/
    /*}*/
/*}*/
/*@media (max-width: 369px){*/
    /*body {*/
        /*padding-top: 110px;*/
    /*}*/
/*}*/


@media (max-width: 374px) {
    /*.catalog-filter {*/
        /*margin-right: 2.5em;*/
    /*}*/
    .btn-sm {
        margin-right:1em;
        /*padding:0;*/
    }
}

@media (max-width: 330px) and (min-width: 283px){
    .catalog-filter-search {
        margin-right: 3rem;

    }

}

@media (max-width: 375px){
    .catalog-filter-search {
        margin-left: 0rem;
    }
    body{
        margin-top: 1.8em;
    }
}

/*.basket-mini > a:before {*/
    /*color: #545454;*/
/*}*/

.basket-mini-main {
    color: #fff;
    padding:0 5px 1px 5px;
    background-color: #212529;
    border-radius: 20px;
}

.basket-mini-main .quantity:before {
    content: "";
}

.basket-mini-main .quantity:after {
    content: "";
}

.basket-mini-product .basket-toggle {
    color: black;
    padding:0;
}

.basket-mini > a{
    padding:0;
}

/*  Header section
 *   Bootstrap customization
 *   navbar.scss           */

/** Modal register text size **/
.modal-body button + a {
    font-size:13px;
}

a {
    color:#9f9ea4;
}

/* adding backgroud to top navigation bar */
.fixed-top .d-flex {
    background-color: #d2d2ba;
    height:2.1em; /* reducing top navbar height */
}

 /*navbar responsiveness for small screen */
@media (max-width: 572px){
    .navbar {
        margin-bottom: 1em;
    }
}

/* making slim navbar - the lower one */
.navbar {
    padding:.2em 0 0 0;
    flex-wrap: nowrap;
    align-items: flex-end;
}

#navbarDropdown{
    color:#4e6085;
}
/* direction of responsive navbar ( 3liner icon collapse menu) */
.navbar-collapse .navbar-nav {
    flex-direction: row;
}

/* moving ul navbar in the middle */
/*.collapse .navbar-nav {*/
    /*padding-left:381px;*/
/*}*/
a.nav-link  {
    /*font-family: Helvetica;*/
    font-size: 0.9rem;
    /*color:#555555;*/
    color:#787878;
    padding-top:.5em;
}
a.nav-link:hover{
    color:#ffff;
}

/* creating padding for small screens as well */
/*@media (min-width: 380px) {*/
    .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
/*}*/


/*Reducing size of sign in Modal text*/
a span.navbar-text {
    font-family: lato;
    font-size: 0.9rem;
    /*color:black;*/
}

span.shipping{
    font-size: .7em;
    border:#a8a8a8 solid 1px;
    padding: .2em .6em .3em .6em;
}
/* decreasing top navigation height */
/*.navbar > .container, .navbar > .container-fluid {*/
    /*height:35px;*/
/*}*/

/*.navbar-default {*/
    /*box-shadow: 10px 4px 4px 0px #e1e1e8;*/
/*}*/



/*.bg-light{*/
    /*background-color:#9f9ea4!important;*/
/*}*/

#collapse-1 {
    background-color:#d2d2ba;
}
/* app.blade customization */
.navbar-brand {
    font-size: 100%; /* this is optimized for the smallest screen<300px */
    color:black;
}

/*@media(max-width: 371px) {*/
    /*.navbar-brand {*/
        /*margin-left: 7.4rem;*/
    /*}*/
/*}*/

.navbar-light .navbar-text {
    /*color:#620900;*/
    color:white;
    font-family: lato;
}
/* 3 liner hanburger icon */
.navbar-toggler {
    padding: .2rem .75rem;
    font-size: 1rem;
    line-height: 1;
    background-color: #4e6085;/*border: 1px solid transparent;*/
    border-radius: .15rem;
    /*border:2px solid #dadada;*/

}

/*    Mini- basket                     */
.basket-mini {
    /*background-color: #ff8a00;*/
    background-color: #4e6085;
    border-radius:0.2rem;
    padding:0.28em 0.1em 0.27em 0.1em;
    width:4em;
    /*margin-right:1rem;*/
}


/* adjusting margin to top of top carousel */
.mb-3 .my-3 {
    margin-bottom: .7rem !important;
}
.mt-3 .my-3 {
    margin-top: .7rem !important;
}
.shop-cat {
    font-family:lato;
}

.shop-cat h6{
    color:black;
}

.shop-item {
    font-family:lato;
    font-type : bold;
}


.shop-item h6 {
    margin-bottom: .1rem;

}
.new-arrival {
     background-color: black;
     /*padding: 10px 0;*/
 }
.new-arrival h5{
    color:#B0A060;
    font-family: lato;
}

.container-fluid {
    width: 90%;
}


/* responsive for small screen*/
@media(max-width: 479px)  {
    .carousel-indicators {
        bottom:0px;
    }
}
@media(max-width: 340px)  {
    .carousel-indicators {
        bottom:-10px;
    }
}

/* Changing Flat Indicator into Circle */
.carousel-indicators li {
    height:.6em;
    width:.6em;
    border-radius:100%;
    border:solid .5px black; /* black border to make circle visible on white background */
    background-color: #d2d2ba;
}


.carousel-caption {
    /*top:10%;*/
    font-family: lato;
    left: 17%;
    right:17%;
    /*background-color: rgba(255, 178, 178, 0.3);*/
    background-color: rgba(241, 241, 241, 0.5);
    color:black;
    padding:.3em 0 .2em 0;
    border-radius:.2em;
    bottom:.9em;
}

/** Category Carousel **/
.catSlider {
    background-color: white;
}

.catSlider .carousel-inner {
    height:200px;
}

.aimeos .pagination, .aimeos .pagination .sort a {
    /*margin-top:8px;*/
    font-family:lato;
    font-size:13px;
    color:#9ea4a9;
    text-align:center;
}

.aimeos .pagination h6 {
    color:black;
}

.aimeos .pagination ul li {
    /*padding:5px;*/
    padding: 5px;
    margin:3px;
    /*border: solid .2px #6c757d;*/
    background-color: white;
}

.aimeos .pagination .sort {
    padding-bottom: 0;
    /*margin:0 0 0 6%;*/
    display:inline;
}

.aimeos .pagination .sort a:hover {
    text-decoration: none;
}

.aimeos .pagination .sort li {
   border-radius: .3em;
}

.aimeos .pagination .sort li:hover {
    background-color: lightgray;
    border-radius: .8em;
}

.aimeos .sort {
    padding-bottom:11px;
}

.catSlider .img-thumbnail {
    /** to restore bottom border of carousel img thumbnail **/
    height:190px;

}

.card .img-thumbnail {
    /** to restore bottom border of carousel img thumbnail **/
    /*height:340px;*/
    padding:0;
}
.catalog-list-items {
    margin-top:0;
}

/** Changing carousel control icons color etc **/

/*.carousel-control-prev-icon,*/
/*.carousel-control-next-icon {*/
    /*height: 100px;*/
    /*width: 100px;*/
    /*outline: black;*/
    /*background-size: 100%, 100%;*/
    /*border-radius: 50%;*/
    /*border: 1px solid black;*/
    /*background-image: none;*/
/*}*/

/*.carousel-control-next-icon:after*/
/*{*/
    /*content: '>';*/
    /*font-size: 55px;*/
    /*color: red;*/
/*}*/

/*.carousel-control-prev-icon:after {*/
    /*content: '<';*/
    /*font-size: 55px;*/
    /*color: red;*/
/*}*/

.carousel-control-prev {
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");*/
    font-size: 3em;
    width:2%;
    opacity:0;
}


.carousel-control-next {
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");*/
    font-size: 3em;
    width:2%;
    opacity:0;
}

/* creating another arrow like a border with white color for dark images- idea from AMAZON */
.fa-angle-right::after{
    color:white;
    content: "\f105";
    margin-left: -0.3em;
}
.fa-angle-left::after{
    color:white;
    content: "\f104";
    margin-left: -0.3em;
}


/** Catalog/search Template customization **/
.aimeos .form-control {
    border-radius:4px;

}

/* search icon button size optimization */
.aimeos .input-group .btn {
    width: calc(100%);

}

.input-group>.input-group-append>.btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/** Decreasing input search field height **/
input.form-control, button.reset, button.btn-outline-secondary{
    height:25px !important;
}

/* bringing x symbol vertically middle */
button.reset{
    line-height: 5px;
}



/*  To bring placehoder text verticaly in middle for IE */
input[type='text']{
    line-height: 5px;
}


::placeholder {
    color:#9f9ea4;
}

.aimeos .btn-primary, .aimeos .btn-primary:active {
    background-color: #337ab7;
    border: solid 1px #337ab7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.aimeos .modal-footer > button {
    border-radius:4px;
    width:5em;
}

.catalog-filter-search .value, .catalog-filter-search .reset {
     border-color: #555;
}

/*.catalog-filter-search .reset {*/
    /*border-color: #555;*/
/*}*/


/** stopping go button and input field occupying 2 rows **/
/*.input-group {*/
    /*flex-wrap:nowrap;*/
/*}*/

/** Catalog/filter/tree Customization **/

/*.catalog-filter-tree {*/
    /*margin:0;*/
/*}*/
/*.catalog-filter-tree > h2 {*/
    /*border-bottom:none;*/
    /*border-radius: 4px;*/
    /*margin-top:-6px;*/
    /*float:none;*/
    /*!*padding-left:0;*/
    /*padding-top: 5px;*/
    /*padding-right: 0;*!*/
    /*background-color: #e5e5e5;*/
/*}*/
/*.col-sm-4 {*/
    /*padding-right:0;*/
    /*padding-left: 0;*/
/*}*/

/** Adjusting minor Responsive glitch for screnn>574<593px **/
/*@media (max-width: 591px) and (min-width:570px) {*/
    /*.basket-mini > a {*/
        /*padding: 0;*/
    /*}*/
/*}*/


/** removing Category subheading **/
.catalog-filter-tree > ul > li > a > span.cat-name {
    display:none;
}
/** removing only subheader's bottom border **/
.catalog-filter-tree > ul > li > a.cat-item {
    border-bottom:none;
}

/** Replacing JS slideToggle() with Bootstrap
 *  Removing display:none for the ul's except first
 */
ul:not(:first-child) .collapse{
    display:initial;
}

/** Product Lists  **/
.catalog-list .product {
    border-bottom:none;
}

.aimeos .product .text-list h2 {
    font-weight: 500;
    background-color: darkseagreen;
    padding:.4rem 0;
    margin-bottom:0.4rem;
}
.aimeos .product .text-list{
    /*background-color: gold;*/
    background-color: #ebebeb;
    margin:0;
}
.text-muted{
    /*background-color: gold;*/
    /*background-color: #ebebeb;*/
    /*background-color: #f0e7d8;*/
    color:black!important;
    /*padding:0.15rem 0;*/
    /*border-radius: 40px;*/
}

/** Responsive top navigation bar elements for smaller screen**/
/*@media (max-width: 581px) and (min-width: 398px) {*/
    /*ul:first-child {*/
        /*padding-left: 10px;*/
    /*}*/
/*}*/

/*@media (max-width: 501px) and (min-width: 398px) {*/
    /*ul:first-child {*/
        /*padding-right: 8px;*/
    /*}*/
/*}*/

/*@media (max-width: 418px) {*/
    /*!*.aimeos .form-control{*!*/
        /*!*width: 150px;*!*/
    /*!*}*!*/
    /*.aimeos .input-group .btn{*/
        /*width:75%;*/
    /*}*/
/*}*/

/** Category - Carousel **/
@media (min-width: 768px) {

    /* show 3 items */
    .catSlider .carousel-inner .active,
    .catSlider .carousel-inner .active + .carousel-item,
    .catSlider .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .catSlider .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .catSlider .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .catSlider .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    .catSlider .carousel-inner .carousel-item-next,
    .catSlider .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .catSlider .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .catSlider .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .catSlider .carousel-item-next.carousel-item-left + .carousel-item,
    .catSlider .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .catSlider .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .catSlider .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .catSlider .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .catSlider .carousel-item-prev.carousel-item-right + .carousel-item,
    .catSlider .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .catSlider .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item
    {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

/* Chaeck out */

/* Ctegory detail */
.catalog-detail-basic h1.name{
    color:black;
}

.aimeos .price-list {
    /*color:darkorange;*/
    /*font-family:"verdana";*/
    /*font-weight: bold;*/
    font-size:15px;

}
/* Bottom border under item article number */
.catalog-detail-basic p.code {
    border-bottom: solid 1px #e1e1e1;
    padding-bottom:3px;
}


.aimeos .catalog-detail-basket .stockitem span.stocktext {
   font-size: 13px;
   color:#555;
    /*background-color: forestgreen;*/
}
.input-group>.form-control {
    flex:none;
    /*width:17%;*/
}

.aimeos .addbasket input {
    width:15%;
    border:none;
    text-align:left;
}

.form-control{
    padding:0 5px 0;
}

.aimeos .input-group .btn-warning {
    margin-left:10%;
    width:50%;
    border-radius: 0.5em;
}

/* Catalog Detail while checking out   */
.aimeos-container {
    padding:4%;
}

.basket-standard .btn {
     border-radius: .5em;
 }

.aimeos a.btn-continue, button.btn-next,button.btn-payment,
  button.btn-summary {
    color:#212529;
    background-color: #ff7020;
}

/* Address page Steps color */
.checkout-standard .steps .current {
    color: #e67918;
    border-bottom: solid 8px #ec7622;
}


/* Removing + sign from shipment cost in basket/detail/partial */
.aimeos .common-summary-detail tr.delivery td:first-child:after,
.aimeos .common-summary-detail tr.payment td:first-child:after {
    content: "";
}

/* + shipping cost color */
.catalog-detail-basket .service-intro {
  color:#212529;
}

/* Error on empty basket page */
.aimeos .error-list {
    background-color: #ffeeee;
    border: none;
    padding: 0.5em;
    padding-left: 2em;
    margin: 2em;
    list-style: none;
    color:orangered;
}

/* List items cards  */
.catalog-list .card {

    width:14.6em;
}

.catalog-list a .media-item {
    width:14.6em;
    background-position: top;
}

.catalog-list a .media-list {
    height: 14.6em;
}

/* Aligning stock colored square */
.aimeos .product .stocklevel {
    vertical-align: top;
}

/* Adjusting images + on category/detail page */
/*.catalog-detail-image .item {*/
    /*background-position: top;*/
/*}*/

/* smoothproduct jquery plugin */
.catalog-detail-image .sp-wrap {
    max-width: 34rem;
}



/* Footer styling
 *
*/

/*@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);*/

/*body {*/
     /*font-family: 'Alegreya Sans', sans-serif;*/
 /*}*/

footer {
    padding-top: 1.5em;
    background-color: #d2d2ba;
    /*background-color:steelblue;*/
    /*color: red;*/
}

footer a {
    /*color: #999;*/
    text-decoration:none;
    color:#787878;
}

footer a:hover, footer a:focus {
    color: #fff;
    text-decoration:none;
    /*border-bottom:1px dotted #999;*/
}

.list-unstyled {
    font-size:.8em;
}
p .fa{
    color:#787878;
}

/* creating equal size button in %age of parent element */
footer .btn-block {
    width:21%;
}

/* Detail page alignment */
.catalog-detail-additional {
    padding: 0 0 2em 2em;
}
.catalog-detail-additional .header:after {
    content:none;
}

.catalog-detail-basket {
    padding-left: 1em;
}

.catalog-detail .header {
    /*border:none;*/
    text-transform: none;
    padding:0 0 .5em 0;
    border-color: #d2d2ba;
}

body .catalog-detail-additional .content{
    /*line-height:0.4;*/
    font-size:1em;
}

.catalog-detail-additional .content{
    padding:0;
}

/** creating image size change effect on hover **/
.catalog-list a .media-item:hover {
    transform: scale(.99, .99);
}

/** Get margin of signin button adjust for small screens **/
@media (max-width: 453px) {
  .basket-mini{
     margin-top: 0.25rem;
  }
}

/** Removing shadow from Button for shiping Modal **/
button.ship .btn.focus, .btn:focus {
    box-shadow:none;
}
button.ship {
    border-radius:0.2rem;
    background-color:#4e6085;
    padding:0 .25rem;
    margin-right: 1rem;
    color:white;
}
button.ship:hover {
    background-color: #c5c5c5;
}

/** Fix of Vue js image loading before script execution **/
[v-cloak]{
    display:none;
}

/** Contain text within Button **/
.btn{
    white-space: normal;
}



/** small screen adjustment for checkoutlogin.php **/
/** USE app.scss FILE INSTEAD OF charmeem.css  **/