
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#logincheckout .btn-danger{
  background-color: orange;
  border-color: orange;
}

#logincheckout .btn-link{
  color: slategrey;
}

@media (max-width: 400px) {
  #logincheckout .btn-primary{
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }

}
